<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>288798275827-l9pd9eid2lr8p2c1asdldo9b3jftg57m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.288798275827-l9pd9eid2lr8p2c1asdldo9b3jftg57m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>288798275827-j5ttihc8i4ot5i1ijtvk2vhoosbbvu42.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBynalORBZCkTFUU2f6aslJAj6lYEmZ5SA</string>
	<key>GCM_SENDER_ID</key>
	<string>288798275827</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.dungeonsanddragons</string>
	<key>PROJECT_ID</key>
	<string>character-creator-ec4af</string>
	<key>STORAGE_BUCKET</key>
	<string>character-creator-ec4af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:288798275827:ios:fcd084d498a98c28451f86</string>
</dict>
</plist>