rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{document} {
      allow create: if request.auth.uid == request.resource.data.email;
      allow read: if request.auth.uid == document;
      allow write: if request.auth.uid == resource.data.email;
      allow delete: if request.auth.uid == resource.data.email;
    }

    match /users/{parent}/userCharacters/{document} {
      allow create: if request.auth.uid == get(/databases/$(database)/documents/users/$(parent)).data.uid;
      allow read: if request.auth.uid == get(/databases/$(database)/documents/users/$(parent)).data.uid;
      allow write: if request.auth.uid == get(/databases/$(database)/documents/users/$(parent)).data.uid;
      allow delete: if request.auth.uid == get(/databases/$(database)/documents/users/$(parent)).data.uid;
    }
  }
}
